# U08 심사문제
### 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [1]:
# 입력 ex)1
korean, english, math, science = map(int,input().split())

90 81 86 80

In [2]:
print(korean>=90 and english>80 and math>85 and science>=80)

True

In [3]:
# 입력 ex)2
korean, english, math, science = map(int,input().split())

90 80 85 80

In [4]:
print(korean>=90 and english>80 and math>85 and science>=80)

False

# U09 심사문제
### 다음 소스 코드를 완성하여 실행 결과대로 문자열이 출력되게 만드세요.
### 결과 
###'Python' is a "programming language"
###that lets you work quickly
###and
###integrate systems more effectively.

In [6]:
s ="""\'Python\' is a \"programming language\"
that lets you work quickly
and
integrate systems more effectively."""
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

# U10 심사문제
### 표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다)

In [7]:
# 입력 ex)1
a = int(input())
b = tuple(range(-10, 10, a))
print(b)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [8]:
# 입력 ex)2
a = int(input())
b = tuple(range(-10, 10, a))
print(b)

3
(-10, -7, -4, -1, 2, 5, 8)

# U11 심사문제1
### 표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [9]:
# 입력 ex)1
x = input().split()

1 2 3 4  5  6 7 8 9 10

In [10]:
del x[-5:]
print(tuple(x))

('1', '2', '3', '4', '5')

In [11]:
# 입력 ex)2
x = input().split()

oven bat pony total leak wreck curl crop space navy loss knee

In [12]:
del x[-5:]
print(tuple(x))

('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

# U11 심사문제2
### 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

In [13]:
# 입력 ex)1
x = input()

python

In [14]:
y = input()

python

In [17]:
print(x[1::2]+y[::2])

yhnpto

In [18]:
# 입력 ex)2
x = input()

apple

In [19]:
y = input()

strawberry

In [20]:
print(x[1::2]+y[::2])

plsrwer

# U12 심사문제
### 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

In [27]:
# 입력 ex)1
a = input().split()

health health_regen mana mana_regen

In [28]:
b = map(float, input().split())

575.6 1.7 338.8 1.63

In [29]:
x = dict(zip(a, b))
print(x)

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [30]:
# 입력 ex)2
a = input().split()

health mana melee attack_speed magic_resistance

In [32]:
b = map(float, input().split())

573.6 308.8 600 0.625 35.7

In [33]:
x = dict(zip(a, b))
print(x)

{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

# U13 심사문제
### 표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [37]:
# 입력 ex)1
price = int(input())

27000

In [38]:
coupon = input()

Cash3000

In [40]:
if coupon =='Cash3000':
    price -= 3000
    print(price)

24000

In [41]:
# 입력 ex)2
price = int(input())

72000

In [42]:
coupon = input()

Cash5000

In [43]:
if coupon =='Cash5000':
    price -= 5000
    print(price)

67000

# U14 심사문제
### 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [44]:
# 입력 ex)1
korean, english, math, science = map(int,input().split())

89 72 93 82

In [46]:
score = (korean + english + math + science) / 4

if (0 <= korean <= 100 and 0 <= english <= 100 and 0 <= math <= 100 and 0 <= science <= 100) == True:
    if score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

합격

In [47]:
# 입력 ex)2
korean, english, math, science = map(int,input().split())

100 85 101 90

In [48]:
score = (korean + english + math + science) / 4

if (0 <= korean <= 100 and 0 <= english <= 100 and 0 <= math <= 100 and 0 <= science <= 100) == True:
    if score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

잘못된 점수