# U27 심사문제
### 문자열이 저장된 words.txt 파일이 주어집니다(문자열은 한 줄로 저장되어 있습니다). words.txt 파일에서 문자 c가 포함된 단어를 각 줄에 출력하는 프로그램을 만드세요. 단어를 출력할 때는 등장한 순서대로 출력해야 하며 ,(콤마)와 .(점)은 출력하지 않아야 합니다.

In [ ]:
# 파일 생성
file = open('words.txt', 'w')
file.write('Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.')
file.close()

In [ ]:
with open('words.txt', 'r') as file:
    for line in file:
        words = line.split()
        for word in words:
            if 'c' in word:
                print(word.strip(',.'))

dictator
subjects
change
costume
elegance
accepted

# U29 심사문제
### 표준 입력으로 숫자 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과가 출력되게 만드세요. 이때 나눗셈의 결과는 실수라야 합니다.

In [1]:
# 입력 ex)1
x, y = map(int, input().split())

def calc(x, y):
    return x+y, x-y, x*y, float(x/y)

a, s, m, d = calc(x, y)
print(f'덧셈: {a}, 뺄셈: {s}, 곱셈: {m}, 나눗셈: {d}')

10 20
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

In [2]:
# 입력 ex)2
x, y = map(int, input().split())

def calc(x, y):
    return x+y, x-y, x*y, float(x/y)

a, s, m, d = calc(x, y)
print(f'덧셈: {a}, 뺄셈: {s}, 곱셈: {m}, 나눗셈: {d}')

40 8
덧셈: 48, 뺄셈: 32, 곱셈: 320, 나눗셈: 5.0

# U30 심사문제
### 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [3]:
# 입력 ex)1
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):  #키워드 인수를 사용한 가변 인수함수
    return (sum(kwargs.values())/len(kwargs))    #len(kwargs)는 키의 개수

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

76 82 89 84
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [4]:
# 입력 ex)2
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):  #키워드 인수를 사용한 가변 인수함수
    return (sum(kwargs.values())/len(kwargs))    #len(kwargs)는 키의 개수

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

89 92 73 83
낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50

# U31 심사문제
### 표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30). 다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 출력되게 만드세요.<br>피보나치 수는 0과 1로 시작하며, 다음 번 피보나치 수는 바로 앞의 두 피보나치 수의 합입니다.
- *피보나치 수열*

f(n) = 1 (n＜=2 일 때)<br>
f(n) = f(n-2)+f(n-1) (n＞2 일 때)

In [8]:
# 입력 ex)1
def fib(n):
    if n <= 1:
        return n  #n이 0이면 결과0, 1이면 결과1
    else:
        return fib(n-1)+fib(n-2)

n = int(input())
print(fib(n))

10
55

In [6]:
# 입력 ex)2
def fib(n):
    if n <= 1:
        return n  #n이 0이면 결과0, 1이면 결과1
    else:
        return fib(n-1)+fib(n-2)

n = int(input())
print(fib(n))

20
6765

# U32 심사문제
### 표준 입력으로 숫자.확장자 형식으로 된 파일 이름 여러 개가 입력됩니다. 다음 소스 코드를 완성하여 파일 이름이 숫자 3개이면서 앞에 0이 들어가는 형식으로 출력되게 만드세요. 예를 들어 1.png는 001.png, 99.docx는 099.docx, 100.xlsx는 100.xlsx처럼 출력되어야 합니다. 그리고 람다 표현식을 사용해야 하며 출력 결과는 리스트 형태라야 합니다. 람다 표현식에서 파일명을 처리할 때는 문자열 포매팅과 문자열 메서드를 활용하세요.

In [16]:
 # x[0] = 숫자 // x[1] = 확장자
x = '10.png'

a = x.split('.')

print(a)

['10', 'png']

In [12]:
# 입력 ex)1
files = input().split()
x = list(map(lambda x : '{0:03d}'.format(int(x.split('.')[0])) + '.' + x.split('.')[1], files))
print(x)

"""
{0:03d} == 파일 이름
{0:03d}.format(값) // ## '{인덱스:0개수d}'.format(숫자)
x.split.[0] == 인덱스 앞부분
x.split.[1] == 인덱스 뒷부분

1.jpg 10.png 11.png 2.jpg 3.png
['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

In [13]:
# 입력 ex)2
files = input().split()
x = list(map(lambda x : '{0:03d}'.format(int(x.split('.')[0])) + '.' + x.split('.')[1], files))
print(x)

97.xlsx 98.docx 99.docx 100.xlsx 101.docx 102.docx
['097.xlsx', '098.docx', '099.docx', '100.xlsx', '101.docx', '102.docx']

# U33 심사문제
### 표준 입력으로 정수가 입력됩니다. 다음 소스 코드를 완성하여 함수 c를 호출할 때마다 숫자가 1씩 줄어들게 만드세요. 여기서는 함수를 클로저로 만들어야 합니다. 정답에 코드를 작성할 때는 def countdown(n):에 맞춰서 들여쓰기를 해주세요.

In [18]:
# 입력 ex)1
def countdown(n):
    count = n+1
    def downcount():
        nonlocal count  
        count -=  1                # nonlocal == count - 1
        return count
    return downcount

n = int(input())
 
c = countdown(n)
for i in range(n):
    print(c(), end=' ')

10
10 9 8 7 6 5 4 3 2 1

In [19]:
# 입력 ex)2
def countdown(n):
    count = n+1
    def downcount():
        nonlocal count  
        count -=  1                # nonlocal == count - 1
        return count
    return downcount

n = int(input())
 
c = countdown(n)
for i in range(n):
    print(c(), end=' ')

20
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1