# Unit 29.함수

## 29.1 출력 함수 만들기

In [1]:
def hello():
    print('Hello, world!')

In [2]:
hello()

Hello, world!

## 29.2 덧셈 함수

In [3]:
# 매개변수, parameter, argument
def add(a, b):
    print(a + b)

In [6]:
add(4, 5)

9

In [7]:
# Docstrings
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    print(a + b)

In [8]:
# 도움말 호출
add?

In [9]:
print?

## 29.3 결과값 반환

In [10]:
def add(a, b):
    return a + b

In [11]:
add(4, 5), add(10, 20)

(9, 30)

In [12]:
x = add(23, 45)
x

68

In [13]:
def is_ten(x):
    return x==10

In [14]:
is_ten(101//10)

True

In [19]:
def not_ten(x):
    if x == 10:
        return
    else:
        print('It is not 10.')

In [ ]:
def not_ten(x):
    if x == 10:
        return
    print('It is not 10.')

In [20]:
not_ten(5)

It is not 10.

In [21]:
not_ten(101//10)

## 29.4 여러개의 결과값 반환

In [22]:
def add_sub(a, b):
    return a+b, a-b

In [23]:
x, y = add_sub(15,7)

In [24]:
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [ ]:
# Stack을 이용한다

## 연습 문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?

In [25]:
maxValue = 0
for i in range(900, 1000):
    for k in range(900, 1000):
        product = i * k
        if str(product) == str(product) [::-1]:
            if product > maxValue:
                maxValue = product
print(maxValue)

906609

In [26]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]

In [27]:
is_palindrome(12345), is_palindrome(906609)

(False, True)

In [30]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
    for k in range(100, 1000):
        if is_palindrome(i*k):
            if i*k > max_pal:
                max_pal, m, n = i*k, i, k
               

print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609