# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [1]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [2]:
print_numbers(10,20,30)

10
20
30

In [5]:
# *x - 리스트/튜플 언패킹
x, y = [10, 20, 30], (40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [9]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [10]:
print_numbers2(10, 20, 30,40)

10
20
30
40

In [11]:
print_numbers2(10)

10

### 고정 인수와 가변 인수

In [12]:
def print_numbers3(a, *args):
    print(a)
    print(args)

In [13]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [14]:
print_numbers3(*x)

10
(20, 30)

In [15]:
# *args(가변)이 a(고정)보다 먼저 나올 수 없다
def print_numbers4(*args, a):   
    print(args)
    print(a)

In [16]:
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [17]:
def personal_info(name, age, addr):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [18]:
personal_info('홍길동',30,'서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [19]:
personal_info(age=30, addr='서울 강남구 도곡동', name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [20]:
# **x - 딕셔너리 언패킹 / *x는 x의 key를 불러냄
x = {'name' : '홍길동','age' : 30, 'addr' : '서울 강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

### 가변 키워드 인수

In [21]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [22]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [23]:
personal_info2(name='홍길동', age=30)

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

In [24]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [25]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [28]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [29]:
my_print(10, 20, 30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [30]:
def personal_info4(name, age, addr='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [31]:
personal_info4('홍길동', 30)       ## 주소를 안 주면 초기값이 addr = '비공개'이므로 "비공개"로 출력됨

이름: 홍길동
나이: 30
주소: 비공개

In [32]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동