# Unit 32. 람다함수

In [3]:
def plus_ten(x):
    return x+10

In [4]:
plus_ten(5)

15

In [6]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [7]:
list(map(lambda x: int(x)+10, input().split()))

2 5 10

[12, 15, 20]

In [8]:
def plus_ten(x):
    return int(x)+10
list(map(plus_ten, input().split()))

2 5 10

[12, 15, 20]

### 제약 사항

In [9]:
# 람다함수에서 변수를 만들 수 없음 / 변수는 람다함수 밖에서 만든다
(lambda x: y=10; x+y(3))

SyntaxError: ignored

In [10]:
y=10
(lambda x: x+y)(3)

13

In [ ]:
"""
; - 변수를 한 줄에 쓰겠다
"""

### 조건부 함수

In [11]:
# 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x: str(x) if x%3 == 0 else x, a))      # 3항 연산자

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [13]:
# 리스트 a에서 3의 배수는 문자열로, 5의 배수는 실수로 변환
list(map(lambda x: str(x) if x%3==0 else float(x) if x%5==0 else x, a))  
## 람다함수에서 if가 나오면 반드시 else도 나와야 함

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [14]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x, y: x*y, a,b))

[6, 14, 24, 36, 50]

### filter
- 범위 지정할 때 사용

In [15]:
a = list(range(1,11))
list(filter(lambda x: 4 <= x <8, a))

[4, 5, 6, 7]